build
Makefile.local
*.swp
*tags
*~

# OS X
####################
.Spotlight-V100/
.Trashes/
._*
.AppleDouble
.DS_Store
.LSOverride
Icon?

# Xcode
####################
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.user
*.xcuserstate
*.moved-aside
*~.nib
.idea/

DerivedData/
project.xcworkspace/
xcuserdata/
profile
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

# Microsoft Visual Studio
####################
*.sdf
*.opensdf
*.suo

# vscode
.vscode/
code/RealRTCWXR/.vs
code/RealRTCWXR/x64/*
code/RealRTCWXR/RealRTCWXR/x64/*
code/cgame/x64/*
code/cgame/cgame/x64/*
code/game/game/x64/*
code/rend2/glsl/*.c
code/rend2/Renderer/x64/*
code/tools/stringify/x64/*
code/ui/ui/x64/*
code/zlib-1.2.11/zlib-1.2.11/x64/*
code/RealRTCWXR/RealRTCWXR/steamshim.log
